<template>
    <section class="rounded-block reverse">
        <div class="content-block">
            <h2>Преимущества</h2>
            <div class="flex wrap space-between">
                <index-advantage-item :item="advantage" v-for="(advantage, key) in advantagesFirstLine" :key="key"></index-advantage-item>
            </div>
            <div class="triple flex wrap space-between top-margin-l">
                <index-advantage-item :item="advantage" v-for="(advantage, key) in advantagesSecondLine" :key="key"></index-advantage-item>
            </div>
        </div>
    </section>
</template>

<style scoped>
    section {
        height: 960px;
    }

    .triple {
        width: 945px;
        margin: 32px auto;
    }

    @media screen and (max-width: 1024px){
        section {
            height: auto;
        }

        .triple {
            width: 100%;
            margin: 0;
        }
    }
</style>

<script>
    import IndexAdvantageItem from './blocks/IndexAdvantageItem.vue'

    export default {
        components: {
            IndexAdvantageItem
        },
        data() {
            return {
                advantagesFirstLine: [
                    {
                        heading: 'Профессиональная экспертиза спора',
                        text: 'Дает объективные и надежные выводы адвоката с многолетним опытом, специальными юридическими знаниями и навыками общения с судьями и чиновниками.',
                        icon: 'balance-black',
                    },
                    {
                        heading: 'Полный сбор доказательств',
                        text: 'Обеспечивается знанием что и как доказывается и обязательностью ответов государственных и коммерческих структур на адвокатские запросы.',
                        icon: 'glasses',
                    },
                    {
                        heading: 'Адвокатская тайна',
                        text: 'Позволяет полностью доверить адвокату все свои тайны, адвокат раскрывает такую информации лишь по согласованию и только с выгодой для клиента.',
                        icon: 'book',
                    },
                    {
                        heading: 'Результативность',
                        text: 'Решения любых, включая самые сложные и нестандартные задачи, обеспечивается за счет специализации, постоянного повышения квалификации, пристрастным выполнением адвокатом договорных обязанностей.',
                        icon: 'gavel',
                    }
                ],
                advantagesSecondLine: [
                    {
                        heading: 'Независимость адвокатской деятельности',
                        text: 'От государства и оппонентов основана на гарантиях государства защитить мое имущество и мою семью, недопустимости допроса адвоката о доверителях и неукоснительным соблюдением адвокатской этики по контролем Адвокатской палаты.',
                        icon: 'book',
                    },
                    {
                        heading: 'Доступность',
                        text: 'Доступность услуг связана с порядком и договорными условиями адвокатского вознаграждения, а именно: первые консультации по телефону - бесплатные; предусмотрена скидки и рассрочка фиксированных платежей по этапам дела; гонорар успеха выплачивается только за высокое качество услуг, приведших к конкретной выгоде клиента; бесплатное представительство и обоснование адвокатского вознаграждения при взыскании судебных расходов с проигравшей стороны.',
                        icon: 'act',
                    },
                    {
                        heading: 'Письменный договор',
                        text: 'Содержит конкретные задачи адвоката на каждом этапе ведения дела.',
                        icon: 'agreement',
                    }
                ]
            }
        }
    }
</script>