<template>
    <section class="housing-disputes">
        <div class="mask"></div>
        <div class="content-block" v-html="$store.getters.articleByName('housing-disputes-block').content || ''"></div>
    </section>
</template>

<style scoped>
    .housing-disputes {
        background: url('../../../../../images/housing_disputes.png') no-repeat bottom;
        background-size: cover;
        height: 534px;
        box-sizing: border-box;
        padding-top: 100px;
        position: relative;
    }

    @media screen and (max-width: 1024px){
        .housing-disputes {
            height: auto;
            padding: 10vw 0;
        }
    }
</style>