<template>
    <section>
        <div class="content-block relative">
            <div class="grid">
                <div class="grid-row">
                    <div class="col-8 content top-margin-l">
                        <div v-html="$store.getters.articleByName('housing-disputes-jumbo').content || ''"></div>
                        <div class="flex controls">
                            <div>При заказе на сайте скидка <span class="weight-black">10%</span></div>
                            <a href="javascript:void(0)" @click="openForm = true" class="btn">Получить консультацию</a>
                        </div>
                    </div>
                    <div class="col4"></div>
                    <div class="image"></div>
                </div>
            </div>
        </div>
        <callback-form-modal v-model="openForm"></callback-form-modal>
    </section>
</template>

<style scoped>
    section {
        background: #F5CC1F;
        height: 500px;
    }

    .controls {
        align-items: center;
    }

    .controls .btn {
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 5px;
        margin-left: 24px;
    }

    .controls > div {
        font-size: 24px;
    }

    .content {
        z-index: 2;
        box-sizing: border-box;
        margin-top: 60px;
        height: 500px;
    }

    .image {
        position: absolute;
        top: 0;
        width: 747px;
        height: 500px;
        right: 0;
        background: url('../../../../../images/yellow-house.png') no-repeat bottom;
        background-size: contain;
        z-index: 1;
    }

    @media screen and (max-width: 1024px){
        section {
            height: 185vw;
        }

        .content {
            height: auto;
        }

        .controls > div {
            font-size: 4vw;
            text-align: center;
        }
    }

</style>

<script>
    import CallbackFormModal from '../../common/CallbackFormModal.vue';

    export default {
        components: {CallbackFormModal},
        data() {
            return {
                openForm: false
            }
        }
    }
</script>