<template>
    <div>
        <housing-disputes-block></housing-disputes-block>
        <housing-disputes-jumbo></housing-disputes-jumbo>
        <services-block article="housing-disputes-text-block" :links="servicesLinks"></services-block>
        <call-block :content="$store.getters.articleContentByName('housing-call-block-text')"></call-block>
        <info-block articleName="housing-contract-development" className="top-margin-xxxl"></info-block>
        <info-block articleName="housing-pre-trial-dispute-resolution" className="reverse top-margin-xxxl"></info-block>
        <info-block articleName="housing-preparation-of-a-lawsuit" className="top-margin-xxl"></info-block>
        <info-block className="background-gray" articleName="housing-representation-in-court"></info-block>
        <info-block articleName="housing-law-help" className="top-margin-xxl"></info-block>
    </div>
</template>

<script>
    import HousingDisputesBlock from './blocks/HousingDisputesBlock.vue';
    import HousingDisputesJumbo from './blocks/HousingDisputesJumbo.vue';
    import ServicesBlock from '../common/ServicesBlock.vue';
    import InfoBlock from '../common/InfoBlock.vue';
    import CallBlock from '../common/CallBlock.vue';

    export default {
        components: {
            HousingDisputesBlock, HousingDisputesJumbo, ServicesBlock, InfoBlock, CallBlock
        },
        data() {
            return {
                servicesLinks: [
                    {
                        text: 'Бесплатные консультации по телефону',
                        href: '#call'
                    },
                    {
                        text: 'Разработка соглашений о порядке пользования жильем, имущественных договоров для сожителей и др',
                        href: '#housing-contract-development'
                    },
                    {
                        text: 'Урегулирование спора до суда',
                        href: '#housing-pre-trial-dispute-resolution'
                    },
                    {
                        text: 'Подготовка иска (возражений на иск) и доказательств',
                        href: '#housing-preparation-of-a-lawsuit'
                    },
                    {
                        text: 'Представительство в суде',
                        href: '#housing-representation-in-court'
                    },
                    {
                        text: 'Помощь на стадии исполнения судебного решения.',
                        href: '#housing-law-help'
                    },
                ]
            }
        }
    }
</script>

<style scoped>

</style>