<template>
    <section class="arbitration-disputes">
        <div class="mask"></div>
        <div class="content-block" v-html="$store.getters.articleByName('arbitration-disputes-block').content || ''"></div>
        <div class="content-block">
            <button class="top-margin-l btn orange" @click="showModal = true">Получить консультацию</button>
        </div>
        <callback-form-modal v-model="showModal"></callback-form-modal>
    </section>
</template>

<script>
    import CallbackFormModal from '../../common/CallbackFormModal.vue'

    export default {
        components: {
            CallbackFormModal
        },
        data() {
            return {
                showModal: false
            }
        }
    }
</script>

<style scoped>
    .arbitration-disputes {
        background: url('../../../../../images/arbitration-disputes.jpg') no-repeat bottom;
        background-size: cover;
        height: 600px;
        box-sizing: border-box;
        padding-top: 100px;
        position: relative;
    }

    @media screen and (max-width: 1024px) {
        .arbitration-disputes {
            height: auto;
            padding: 10vw 0;
        }
    }
</style>