<template>
    <div>
        <index-lawyer-block></index-lawyer-block>
        <index-welcome-block></index-welcome-block>
        <index-advantages-block></index-advantages-block>
        <index-specialization-block></index-specialization-block>
        <index-prices-block></index-prices-block>
        <index-review-block></index-review-block>
        <index-contact-block></index-contact-block>
    </div>
</template>

<script>
    import IndexLawyerBlock from './blocks/IndexLawyerBlock.vue'
    import IndexWelcomeBlock from './blocks/IndexWelcomeBlock.vue'
    import IndexAdvantagesBlock from './blocks/IndexAdvantagesBlock/IndexAdvantagesBlock.vue'
    import IndexSpecializationBlock from './blocks/IndexSpecializationBlock.vue'
    import IndexPricesBlock from './blocks/IndexPricesBlock.vue'
    import IndexReviewBlock from './blocks/IndexReviewComponent.vue'
    import IndexContactBlock from './blocks/IndexContactBlock.vue'
    export default {
        components: {
            IndexLawyerBlock, IndexWelcomeBlock, IndexAdvantagesBlock, IndexSpecializationBlock, IndexPricesBlock, IndexReviewBlock, IndexContactBlock
        },
        data() {
            return {
                articles: []
            }
        },
        mounted() {
            this.articles = this.$store.getters.articlesByPage('IndexComponent')
        }
    }
</script>