<template>
    <div>
        <loading :active.sync="isLoading" :is-full-page="true"></loading>
        <div v-if="!isLoading">
            <header class="content-block">
                <a class="logo" href="/#/"></a>

                <!-- Mobile menu -->
                <div class="burger" v-if="!mobileMenuOpened" @click="mobileMenuOpened = true">
                    <i class="fa fa-bars burger-icon" aria-hidden="true"></i>
                </div>
                <div class="flex mobile-menu" v-if="mobileMenuOpened">
                    <router-link v-if="page.route === '/' && !page.hidden" v-for="page in $store.state.pages.pages" :key="page.id" :to="page.route">
                        {{ page.name }}
                    </router-link>
                    <router-link v-if="page.route !== '/' && !page.hidden" v-for="page in $store.state.pages.pages" :key="page.id" :to="page.route">
                        {{ page.name }}
                    </router-link>
                </div>
                <div class="close" v-if="mobileMenuOpened" @click="mobileMenuOpened = false">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <!-- end mobile menu -->

                <div class="flex main-menu">
                    <router-link v-if="page.route === '/' && !page.hidden" v-for="page in $store.state.pages.pages" :key="page.id" :to="page.route">
                        {{ page.name }}
                    </router-link>
                    <router-link v-if="page.route !== '/' && !page.hidden" v-for="page in $store.state.pages.pages" :key="page.id" :to="page.route">
                        {{ page.name }}
                    </router-link>
                </div>
                <div class="flex anchors" v-if="$route.path === '/' && !mobileMenuOpened">
                    <a href="/#prices" class="grow">Цены</a>
                    <a href="/#contacts">Контакты</a>
                </div>
                <div class="header-contacts text-right grow" v-if="!mobileMenuOpened">
                    <a :href="`mailto:${$store.state.contacts.contacts.email}`" v-text="$store.state.contacts.contacts.email"></a>
                    <a :href="`tel:${$store.state.contacts.contacts.phone_first}`" class="top-margin-s" v-text="$store.state.contacts.contacts.phone_first"></a>
                    <a :href="`tel:${$store.state.contacts.contacts.phone_second}`" v-text="$store.state.contacts.contacts.phone_second"></a>
                </div>
            </header>
            <section>
                <div class="overflow-hidden">
                    <transition name="fade">
                        <router-view></router-view>
                    </transition>
                </div>
            </section>
            <div class="content-block"  v-if="typeof page !== 'undefined' && page.recent_category_id">
                <recent-knowledge :category="$store.getters.categoryById(page.recent_category_id)"></recent-knowledge>
            </div>
            <footer class="top-margin-xxl">
                <div class="content-block ">
                    <div class="grid">
                        <div class="grid-row">
                            <div class="col-2 flex">
                                <a class="logo" href="/#/"></a>
                            </div>
                            <div class="col-2 line-height">
                                <a :href="`tel:${$store.state.contacts.contacts.phone_first}`" class="white" v-text="$store.state.contacts.contacts.phone_first"></a><br>
                                <a :href="`tel:${$store.state.contacts.contacts.phone_second}`" class="white" v-text="$store.state.contacts.contacts.phone_second"></a><br>
                                <a :href="`mailto:${$store.state.contacts.contacts.email}`" class="white" v-text="$store.state.contacts.contacts.email"></a><br>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4">
                                <div class="on-map bottom-margin-s">Мы на карте</div>
                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab15d2a3eaf9d165d171e3146552077325a581e3a0f3f59ee016004886796c47c&amp;source=constructor" width="100%" height="270px" frameborder="0"></iframe>
                                <small>{{ $store.state.contacts.contacts.address }}</small>
                            </div>
                        </div>
                        <div class="grid-row top-margin-s">
                            <div class="col-12 copyright">
                                designed by Asatru 2019
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <go-top></go-top>
    </div>
</template>

<style scoped>
    .on-map {
        font-size: 22px;
    }

    .copyright {
        text-align: center;
    }

    header {
        background: #FFFFFF;
        display: flex;
        align-items: center;
        min-height: 80px;
    }

    header a {
        margin-right: 26px;
        color: #000;
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
    }

    .line-height {
        line-height: 1.7;
    }

    footer {
        height: 400px;
        background: #2E2E2E;
        padding: 80px 0 0 0;
        color: #FFF;
    }

    .header-contacts {
        font-weight: 600;
        font-size: 12px;
    }

    .header-contacts a {
        display: block;
    }

    .burger {
        display: none;
        width: 5vw;
        height: 5vw;
        position: relative;
    }

    .burger > i {
        position: absolute;
        left: 0;
        top: 0;
    }

    .anchors {
        margin-left: 36px;
    }

    small {
        font-size: 10px;
    }

    .logo {
        flex-basis: 80px;
        height: 70px;
        background: url('../../images/logo.png') no-repeat;
        background-size: cover;
        margin-right: 26px;
    }

    footer .logo {
        background: url('../../images/logo_white.png') no-repeat;
        background-size: contain;
        flex-grow: 1;
        height: 140px;
    }

    @media screen and (max-width: 1024px) {
        header {
            background: #FFFFFF;
            display: flex;
            align-items: center;
            min-height: initial;
        }

        .logo {
            display: none;
        }

        .main-menu {
            display: none;
        }

        .mobile-menu {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            padding: 5vw;
        }

        header a {
            margin-right: 0;
            color: #000;
            text-decoration: none;
            font-weight: 600;
            font-size: 3vw;
        }

        .mobile-menu a {
            font-size: 4vw;
            margin-bottom: 5vw;
        }

        .anchors a {
            margin-left: 7vw;
        }

        .burger {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .burger-icon {
            font-size: 6vw;
        }

        footer {
            height: auto;
        }

        footer .col-6 {
            display: none;
        }

        footer .grid .grid-row .col-4 {
            margin-left: 0;
        }

        footer .on-map {
            font-size: 4vw;
        }

        footer .grid .grid-row {
            flex-direction: column;
            max-height: none;
            height: auto;
        }

        small {
            font-size: 2vw;
        }
    }
</style>

<script>
    import Loading from 'vue-loading-overlay';
    import { mapGetters } from 'vuex';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import RecentKnowledge from './components/common/RecentKnowledge.vue';
    import GoTop from '@inotom/vue-go-top';

    export default {
        data() {
            return {
                isLoading: true,
                mobileMenuOpened: false
            }
        },
        components: {
           Loading, RecentKnowledge, GoTop
        },
        methods: {
            dataLoaded() {
                return this.getPages && this.getReviews && this.getContacts && this.getArticles && this.getCategories
            }
        },
        computed: {
            ...mapGetters([
                'getPages', 'getContacts', 'getReviews', 'getArticles', 'getCategories'
            ]),
            page() {
                return this.$store.getters.pageByRoute(this.$route.path);
            }
        },
        created() {
            this.$store.commit('fetchPages');
            this.$store.commit('fetchArticles');
            this.$store.commit('fetchReviews');
            this.$store.commit('fetchContacts');
            this.$store.commit('fetchCategories');
            this.$store.watch(this.dataLoaded, () => {
                this.$nextTick(() => {
                    this.$router.addRoutes(
                        this.getPages.map((page) => {
                            let component = require(`./components/${page.component}/${page.component}.vue`);
                            this.$options.components[page.component] = component.default || component;

                            return {
                                path: page.route,
                                component: component.default || component
                            }
                        })
                    );
                    this.isLoading = false;
                });
            })
        }
    }
</script>