<template>
    <section class="knowledge">
        <div class="heading" v-if="knowledge.big_image_url" :style="{backgroundImage: `url('${image}')`}">
            <div class="content-block">
                <h2 v-text="knowledge.heading"></h2>
                <div class="short-desc text-big" v-text="`${shortText}...`"></div>
                <div class="date top-margin" v-text="date"></div>
            </div>
        </div>
        <social-sharing :url="shareUrl"
                        :title="knowledge.heading"
                        :description="shortText"
                        inline-template>
            <div class="content-block top-margin text-right socials">
                <network network="facebook">
                    <i class="fa fa-facebook share-btn"></i>
                </network>
                <network network="odnoklassniki">
                    <i class="fa fa-odnoklassniki share-btn"></i>
                </network>
                <network network="telegram">
                    <i class="fa fa-telegram share-btn"></i>
                </network>
                <network network="twitter">
                    <i class="fa fa-twitter share-btn"></i>
                </network>
                <network network="vk">
                    <i class="fa fa-vk share-btn"></i>
                </network>
            </div>
        </social-sharing>
        <div class="content-block text-big" v-html="knowledge.content"></div>
        <social-sharing :url="shareUrl"
                        :title="knowledge.heading"
                        :description="shortText"
                        inline-template>
            <div class="content-block top-margin text-right socials">
                <network network="facebook">
                    <i class="fa fa-facebook share-btn"></i>
                </network>
                <network network="odnoklassniki">
                    <i class="fa fa-odnoklassniki share-btn"></i>
                </network>
                <network network="telegram">
                    <i class="fa fa-telegram share-btn"></i>
                </network>
                <network network="twitter">
                    <i class="fa fa-twitter share-btn"></i>
                </network>
                <network network="vk">
                    <i class="fa fa-vk share-btn"></i>
                </network>
            </div>
        </social-sharing>
        <div class="content-block">
            <recent-knowledge :category="$store.getters.categoryByKnowledgeId($route.params.id)"></recent-knowledge>
        </div>
    </section>
</template>

<script>
    import RecentKnowledge from '../common/RecentKnowledge.vue';

    export default {
        components: {
            RecentKnowledge
        },
        data() {
            return {}
        },
        computed: {
            shareUrl() {
                return window.location.href
            },
            knowledge() {
                return this.$store.getters.getKnowledgeById(this.$route.params.id);
            },
            image() {
                return  `/images/knowledge/${this.knowledge.big_image_url}`;
            },
            shortText() {
                let tmp       = document.createElement("DIV");
                tmp.innerHTML = this.knowledge.content;

                return tmp.innerText.slice(0, 72);
            },
            date() {
                const date = new Date(this.knowledge.updated_at);
                const d = date.getDate();
                const m = date.getMonth() + 1;
                const y = date.getFullYear();

                return `${d}.${m}.${y}`;
            }
        },
        mounted() {}
    }
</script>

<style scoped>
    .heading {
        height: 533px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .heading h2 {
        max-width: 755px;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .short-desc {
        max-width: 516px;
        font-weight: 600;
    }

    .socials {
        display: flex;
        justify-content: space-between;
        width: 250px;
    }

    .socials > * {
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {
        .heading {
            height: auto;
            padding: 10vw 0;
        }

        .socials {
            width: 50vw;
        }
    }
</style>