{% extends 'base.html.twig' %}

{% block body %}
    {% for scriptArticle in scripts %}
        {{ scriptArticle.content|raw }}
    {% endfor %}
    <div id="app" class="content"></div>
{% endblock %}
