<template>
    <div>
        <hereditary-disputes-block></hereditary-disputes-block>
        <info-block articleName="hereditary-jumbo-block" className="hereditary-jumbo-block"></info-block>
        <services-block article="hereditary-services-article" :links="servicesLinks"></services-block>
        <info-block articleName="hereditary-description"></info-block>
        <info-block articleName="hereditary-stages" className="reverse"></info-block>
        <info-block articleName="hereditary-quotation-1" className="hereditary-quotation-1"></info-block>
        <info-block articleName="hereditary-stages-selection" className="hereditary-stages-selection"></info-block>
        <info-block articleName="hereditary-stages-selection-description"></info-block>
        <info-block articleName="hereditary-stages-selection-description-1" className="background-gray"></info-block>
        <info-block articleName="hereditary-stages-selection-description-2"></info-block>
        <call-block :content="$store.getters.articleContentByName('hereditary-call-block-text')"></call-block>
        <info-block articleName="hereditary-description-1" className="reverse top-margin-xxxl"></info-block>
        <info-block articleName="hereditary-contract-development"></info-block>
        <info-block articleName="hereditary-description-2" className="top-margin-xxl"></info-block>
        <info-block articleName="hereditary-description-3" className="hereditary-description-3"></info-block>
        <div class="relative">
            <info-block articleName="hereditary-description-4" className="hereditary-description-4"></info-block>
            <div class="checklist"></div>
            <div class="checklist-floor"></div>
        </div>
    </div>
</template>

<script>
    import HereditaryDisputesBlock from './blocks/HereditaryDisputesBlock.vue';
    import InfoBlock from '../common/InfoBlock.vue';
    import ServicesBlock from '../common/ServicesBlock.vue';
    import CallBlock from '../common/CallBlock.vue';

    export default {
        components: {
            HereditaryDisputesBlock, InfoBlock, ServicesBlock, CallBlock
        },
        data() {
            return {
                servicesLinks: [
                    {
                        text: 'Бесплатные консультации по телефону',
                        href: '#call'
                    },
                    {
                        text: 'Разработка соглашений о разделе наследства',
                        href: '#hereditary-contract-development'
                    },
                    {
                        text: 'Урегулирование спора до суда',
                        href: '#hereditary-description-1'
                    },
                    {
                        text: 'Представительство в суде',
                        href: '#hereditary-description-3'
                    },
                    {
                        text: 'Помощь на стадии исполнения судебного решения.',
                        href: '#hereditary-description-4'
                    },
                ]
            }
        }
    }
</script>

<style scoped="">
    .checklist {
        position: absolute;
        background: url('../../../../images/checklist.png') no-repeat;
        width: 768px;
        height: 804px;
        right: 16vw;
        bottom: 227px;
        z-index: -1;
    }

    .checklist-floor {
        content: '';
        left: 0;
        right: 0;
        display: block;
        position: absolute;
        bottom: 0;
        height: 328px;
        background: #E5E5E5;
        z-index: -2;
    }
</style>