<template>
    <div class="knowledge">
        <div class="grid-row">
            <div class="col-4">
                <div class="knowledge-image">
                    <img :src="`/images/knowledge/${knowledge.image_url}`" />
                </div>
            </div>
            <div class="col-8 relative">
                <div class="text-big top-margin" v-text="knowledgeDate"></div>
                <h2 v-text="knowledge.heading"></h2>
                <div class="desc top-margin-l text-big" v-text="knowledgeText"></div>
                <a :href="`/#/knowledge/${knowledge.id}`" class="read-more text-big">Читать дальше</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            knowledge: Object
        },
        computed: {
            knowledgeDate() {
                const dbDate = this.knowledge.published_date || this.knowledge.updated_at;
                const date = new Date(dbDate);
                const d = ('0' + date.getDate()).slice(-2);
                const m = ('0' + (date.getMonth()+1)).slice(-2); //January is 0!
                const y = date.getFullYear();

                return `${d}.${m}.${y}`;
            },
            knowledgeText() {
                let tmp       = document.createElement("DIV");
                tmp.innerHTML = this.knowledge.content;

                return tmp.innerText;
            }
        }
    }
</script>

<style scoped>
    .knowledge {
        background: #FFFFFF;
        box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin-top: 16px;
    }

    .knowledge h2 {
        margin: 0;
        max-height: 120px;
        overflow: hidden;
    }

    .knowledge .desc {
        max-height: 111px;
        overflow: hidden;
        padding-right: 50px;
    }

    .knowledge-image {
        width: 390px;
        height: 310px;
        margin: 16px;
        overflow: hidden;
        text-align: center;
    }

    .knowledge-image img {
        max-width: 100%;
        height: auto;
    }

    .read-more {
        position: absolute;
        bottom: 40px;
        right: 50px;
        display: block;
        background: linear-gradient(to right, rgba(255,0,0,.0) 0%, #ffffff 10%);
        padding-left: 30px;
        font-weight: 600;
    }

    @media screen and (max-width: 1024px) {
        .knowledge {
            border-radius: 0;
        }

        .knowledge .grid-row {
            flex-wrap: wrap;
        }

        .knowledge .grid-row > * {
            width: 100vw;
        }

        .knowledge-image {
            width: 100%;
            height: auto;
            margin: 0;
        }

        .knowledge .desc {
            max-height: 50vw;
            max-width: 85vw;
        }

        .knowledge h2 {
            height: auto;
            max-height: none;
            max-width: 86vw;
        }

        .read-more {
            position: absolute;
            bottom: 0;
            right: 5vw;
            display: block;
            background: linear-gradient(to bottom, rgba(255,0,0,.0) 0%, #ffffff 36%);
            padding-left: 30px;
            padding-top: 5vw;
            padding-bottom: 5vw;
            font-weight: 600;
            width: 82vw;
            text-align: right;
        }
    }
</style>