<template>
    <div class="grid category">
        <div class="category-heading">
            <div class="grid-row">
                <div class="col-6">
                    <h2 v-text="category.heading"></h2>
                    <div class="text-big" v-text="category.description"></div>
                </div>
                <div class="col-6 category-image">
                    <img :src="`/images/categories/${category.image_url}`" />
                </div>
            </div>
        </div>
        <knowledge v-for="knowledge in category.knowledge" :knowledge="knowledge" :key="knowledge.id"></knowledge>
    </div>
</template>

<script>
    import Knowledge from './Knowledge.vue';

    export default {
        components: {
            Knowledge
        },
        props: {
            category: Object
        }
    }
</script>

<style scoped>
    .category {
        margin-top: 50px;
    }

    .category:last-child {
        margin-bottom: 106px;
    }

    h2 {
        margin-top: 0;
    }

    .category-image {
        max-height: 600px;
        display: block;
        text-align: center;
        overflow: hidden;
    }

    .category-image > img {
        max-width: 100%;
        height: auto;
    }

    @media screen and (max-width: 1024px){
        .category-image {
            display: none;
        }
    }
</style>