@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800,900&display=swap&subset=cyrillic');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body, p, a, div, span, em, b, strong, ul, li, nav, header, footer, section, table, tr, td, th, tbody, thead, dd, textarea, input {
    font-family: 'Montserrat', sans-serif;
}

a, p, div, input, textarea, select {
    font-size: 16px;
}

textarea {
    padding: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    position: relative;
    padding: 0 0 0 20px;
}

ul li:before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FF9900;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 3px;
}

ul li.purple-point:before {
    background: #4b0de4;
}

ul li.text-big:before {
    top: 8px;
}

input[type="checkbox"]+label {
    padding-left: 32px;
    position: relative;
    color: #171b26;
    cursor: pointer;
    display: inline-block;
    line-height: 25px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label:before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    border: solid 1px #ccc;
    left: 0;
    top: 0;
    border-radius: 4px;
}

input[type="checkbox"]:checked+label:after {
    content: '';
    border-top: solid 4px #656565;
    border-left: solid 4px #656565;
    transform: rotate(-135deg);
    position: absolute;
    width: 9px;
    height: 13px;
    left: 6px;
    top: 1px;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.reverse {
    background: #2E2E2E;
}

ol.big-margin li {
    margin-bottom: 16px;
}

.bold {
    font-weight: 600;
}

.reverse h1,
.reverse h2,
.reverse h3,
.reverse h4,
.reverse p,
.reverse span,
.reverse a,
.reverse div {
    color: #FFFFFF;
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.container .left,
.container .right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.container .left {
    float: left;
}

.container .right {
    float: right;
}

.arrow-block {
    position: relative;
    overflow: hidden;
    padding-bottom: 86px;
}

.arrow-block:after {
    display: block;
    content: '';
    background: #FFF;
    position: absolute;
    height: 15vw;
    bottom: -13vw;
    left: -4vw;
    width: 91vw;
    transform: rotate(15deg);
}

.arrow-block:before {
    display: block;
    content: '';
    background: #FFF;
    position: absolute;
    height: 15vw;
    bottom: -13vw;
    right: -4vw;
    width: 91vw;
    transform: rotate(-15deg);
}

.arrow-block.black:after,
.arrow-block.black:before {
    background: #2E2E2E;
}

.content-block {
    padding: 0 50px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1366px;
    box-sizing: border-box;
}

.rounded-block {
    width: 180vw;
    position: relative;
    left: calc(-90vw + 50%);
    overflow: hidden;
    padding-bottom: 86px;
    border-bottom-left-radius: 60vw;
    border-bottom-right-radius: 60vw;
}

.background-white {
    background: #FFFFFF;
}

.background-gray {
    background: #DCDCDC;
}

.relative {
    position: relative;
}

/* transition */

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
    height: 0;
    opacity: 0;
}

.roll-enter-active, .roll-leave-active {
    transition: all .2s;
}
.roll-enter, .roll-leave-to {
    height: 0;
}

/* end transition */

/* position */
.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.flex.align-right {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.float-right {
    float: right;
}

.flex.column {
    flex-direction: column;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* end position */

/* preloader */

.vld-overlay.is-active.is-full-page {
    position: fixed;
    top:0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.vld-overlay .vld-icon {
    width: 65px;
    margin: 300px auto 0;
}

/* end preloader */

/* margins */

.top-margin-none {
    margin-top: 0;
}

.top-margin-s {
    margin-top: 8px;
}

.top-margin {
    margin-top: 16px;
}

.top-margin-m {
    margin-top: 24px;
}

.top-margin-l {
    margin-top: 32px;
}

.top-margin-xl {
    margin-top: 60px;
}

.top-margin-xxl {
    margin-top: 80px;
}

.top-margin-xxxl {
    margin-top: 133px;
}

.bottom-margin-m {
    margin-bottom: 24px;
}

.bottom-margin-l {
    margin-bottom: 32px;
}

.bottom-margin-xl {
    margin-bottom: 60px;
}

.bottom-margin-s {
    margin-bottom: 8px;
}

.bottom-margin-xxl {
    margin-bottom: 80px;
}

.left-margin-s {
    margin-left: 8px;
}

.left-margin {
    margin-left: 16px;
}

.left-margin-m {
    margin-left: 24px;
}

.left-margin-l {
    margin-left: 32px;
}

.left-margin-xl {
    margin-left: 60px;
}

.left-margin-xxl {
    margin-left: 80px;
}

.left-margin-xxxl {
    margin-left: 133px;
}

/* end margins */

/* paddings */

.top-padding-xxxl {
    padding-top: 133px
}

/* end paddings */


/* Text */

h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 50px;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

.weight-black {
    font-weight: 900;
}

.weight-bold {
    font-weight: 600;
}

.orange.orange {
    color: #FF9900;
}

.white.white {
    color: #FFFFFF;
}

.text-normal.text-normal {
    font-size: 16px;
}

.text-big {
    font-size: 22px;
}

.text-bigger {
    font-size: 30px;
}

.text-biggest {
    font-size: 72px;
}

.line-height-normal.line-height-normal {
    line-height: 1.33;
}

.line-height-small.line-height-small {
    line-height: 1.2;
}

/* end text */

/* buttons */

.btn:focus {
    outline: none;
}

.btn {
    border-radius: 5px;
    text-shadow: none;
    box-shadow: none;
    padding: 16px 20px;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
}

.btn.small {
    font-size: 12px;
    padding: 12px;
}

.btn.orange {
    background: #FF9900;
    color: #FFFFFF;
}

.btn.orange:disabled {
    background: #CCCCCC;
}

/* end buttons */

/* grid */

.grid {

}

.grid .grid-row {
    display: flex;
}

.grid .grid-row > *:not(:first-child) {
    margin-left: 20px;
}

.grid .grid-row > * {
    flex-grow: 1;
    box-sizing: border-box;
}

.grid .grid-row .col-1 {
    flex-basis: 87px;
}

.grid .grid-row .col-2 {
    flex-basis: 194px;
}

.grid .grid-row .col-3 {
    flex-basis: 302px;
}

.grid .grid-row .col-4 {
    flex-basis: 409px;
}

.grid .grid-row .col-5 {
    flex-basis: 516px;
}

.grid .grid-row .col-6 {
    flex-basis: 623px;
}

.grid .grid-row .col-7 {
    flex-basis: 730px;
}

.grid .grid-row .col-8 {
    flex-basis: 837px;
}

.grid .grid-row .col-9 {
    flex-basis: 945px;
}

.grid .grid-row .col-10 {
    flex-basis: 1052px;
}

.grid .grid-row .col-11 {
    flex-basis: 1159px;
}

.grid .grid-row .col-11 {
    flex-basis: 1266px;
}

/* end grid */


/* arrows */

.arrow-down,
.arrow-up {
    width: 45px;
    height: 24px;
    display: block;
    cursor: pointer;
    user-select: none;
    background-size: cover;
}

.arrow-down {
    background: url('../images/arrow-down.png') no-repeat;
}

.arrow-up {
    background: url('../images/arrow-up.png') no-repeat;
}

/* arrows */

/* Pricing */

.pricing small {
    font-size: 14px;
}

.pricing li {
    list-style: none;
}

.pricing .title {
    font-size: 30px;
    margin-bottom: 8px;
}

.pricing .desc {
    font-size: 16px;
    margin-bottom: 20px;
}

.pricing .orange-block {
    background: #FF9900;
}

.pricing .pricing-table > div {
    margin-bottom: 8px;
}

.pricing .item {
    border: solid 1px #FFF;
    padding: 12px 25px;
    box-sizing: border-box;
    font-size: 16px;
}

.pricing .discount {
    background: #FFFFFF;
    border-radius: 30px;
    height: 320px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 80px;
}

.pricing .discount .title {
    font-size: 72px;
    font-weight: 900;
    color: #FF9900;
}

.pricing .discount .desc {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000;
}

.pricing .pricing-image {
    height: 550px;
}

/* end pricing */

.overflow-hidden {
    overflow: hidden;
}

.mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
}

.call-text h2 {
    margin-top: 0;
    width: 101%;
}

.quotation {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 32px 88px 34px 107px;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    position: relative;
}

.quotation:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: url('../../assets/images/quotes-black.png') no-repeat;
    background-size: contain;
    top: 33px;
    left: 44px;
}

.reverse .quotation {
    border: 1px solid #FFFFFF;
}

.reverse .quotation:before {
    background: url('../../assets/images/quotes.png') no-repeat;
}

.case {
    background: linear-gradient(172.44deg, #4E4E4E 4.19%, #4805B7 77.76%);
    border-radius: 20px;
    padding: 30px 56px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.case .number {
    width: 100px;
}

.case .case-text {
    flex-shrink: 10;
}

.vue-captcha {
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none!important;
}

.vue-captcha input[type="text"] {
    background: none;
    box-shadow: none;
    border: solid 1px #CCCCCC;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
    flex-basis: 450px;
}

.vue-captcha button {
    width: 64px;
    height: 64px;
    background: #FFFF;
    box-shadow: none;
    border: none;
}

.vue-captcha .content-text {
    display: block !important;
    height: 55px;
}

.vue-captcha button[title="Written"] {
    display: none;
}

.vue-captcha .content-ok {
    background: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .content-block {
        padding: 0 5vw;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        max-width: 100vw;
        box-sizing: border-box;
    }

    body, p, a, div, span, em, b, strong, ul, li, nav, header, footer, section, table, tr, td, th, tbody, thead, dd {
        font-family: 'Montserrat', sans-serif;
    }

    a, p, div, input, textarea, select {
        font-size: 5vw;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        position: relative;
        padding: 0 0 0 6vw;
    }

    ul li:before {
        content: '';
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        background: #FF9900;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        left: 0;
        top: 1vw;
    }

    ul li.purple-point:before {
        background: #4b0de4;
    }

    ul li.text-big:before {
        top: 3vw;
    }

    input:focus {
        outline: none;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    .reverse {
        background: #2E2E2E;
    }

    ol.big-margin li {
        margin-bottom: 5vw;
    }

    .bold {
        font-weight: 600;
    }

    h2 {
        font-size: 7vw;
        font-weight: 900;
        margin-bottom: 50px;
    }

    h3 {
        font-size: 6vw;
        font-weight: 500;
    }

    h4 {
        font-size: 5vw;
        font-weight: 500;
    }

    .text-normal.text-normal {
        font-size: 4vw;
    }

    .text-big {
        font-size: 5vw;
    }

    .text-bigger {
        font-size: 6vw;
    }

    .text-biggest {
        font-size: 7vw;
    }

    /* end text */

    /* buttons */

    .btn:focus {
        outline: none;
    }

    .btn {
        border-radius: 5px;
        text-shadow: none;
        box-shadow: none;
        padding: 3vw 5vw;
        border: none;
        outline: none;
        user-select: none;
        cursor: pointer;
        font-weight: 900;
        font-size: 4vw;
    }

    .btn.small {
        font-size: 3vw;
        padding: 3vw;
    }

    .btn.orange {
        background: #FF9900;
        color: #FFFFFF;
    }

    .arrow-block {
        padding-bottom: 20vw;
    }

    .arrow-block.black:after,
    .arrow-block.black:before,
    .arrow-block:before,
    .arrow-block:after {
        display: none;
    }

    .rounded-block {
        width: 100vw;
        position: relative;
        left: 0;
        overflow: hidden;
        padding-bottom: 20vw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .assistance-at-the-enforcement-stage .grid .grid-row .col-4 {
        display: none;
    }

    .hereditary-jumbo-block .grid .grid-row > *:not(:first-child) {
        display: none;
    }

    .hereditary-quotation-1 .grid .grid-row > *:not(:first-child) {
        display: none;
    }

    .hereditary-stages-selection .grid .grid-row {
        flex-wrap: wrap;
    }

    .hereditary-stages-selection .grid .grid-row .case {
        flex-basis: 100vw;
        height: 52vw;
    }

    .hereditary-stages-selection .grid .grid-row .case:not(:first-child) {
        margin-left: 0;
        margin-top: 5vw;
    }

    .hereditary-description-3 .grid .grid-row .col-4 {
        display: none;
    }

    .hereditary-description-4 .grid .grid-row .col-5 {
        display: none;
    }

    .arbitration-disputes-1 .grid .grid-row .col-5 {
        display: none;
    }

    .vue-captcha {
        margin: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none!important;
        flex-wrap: wrap;
    }

    .vue-captcha > div {
        flex-basis: 100%;
    }

    .vue-captcha canvas {
        width: 60vw;
    }

    .vue-captcha input[type="text"] {
        background: none;
        box-shadow: none;
        padding: 3vw 5vw;
        margin-bottom: 5vw;
        flex-basis: 15vw;
    }

    .vue-captcha button {
        width: 10vw;
        height: 10vw;
        background: #FFFF;
        box-shadow: none;
        border: none;
        font-size: 10vw;
    }

    .vue-captcha .content-text {
        display: block !important;
        height: 12vw
    }

    .vue-captcha button[title="Written"] {
        display: none;
    }

    .vue-captcha .content-ok {
        background: #FFFFFF;
    }

    input[type="checkbox"]+label {
        padding-left: 10vw;
        position: relative;
        color: #171b26;
        cursor: pointer;
        display: inline-block;
        line-height: 1.33;
        text-align: left;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]+label:before {
        content: '';
        width: 7vw;
        height: 7vw;
        position: absolute;
        border: solid 1px #ccc;
        left: 0;
        top: 0;
        border-radius: 4px;
    }

    input[type="checkbox"]:checked+label:after {
        content: '';
        border-top: solid 1vw #656565;
        border-left: solid 1vw #656565;
        transform: rotate(-135deg);
        position: absolute;
        width: 3vw;
        height: 4vw;
        left: 1.5vw;
        top: 0;
    }
}

