<template>
    <section class="contacts content-block" id="contacts">
        <h2>Контакты</h2>
        <div class="address" v-text="$store.state.contacts.contacts.address"></div>
        <div class="bus-station" v-text="$store.state.contacts.contacts.bus_station"></div>
        <div class="top-margin-s">
            <div class="numbers flex">
                <div>автобус: </div>
                <div v-text="$store.state.contacts.contacts.bus_numbers"></div>
            </div>
            <div class="numbers flex">
                <div>трамвай: </div>
                <div v-text="$store.state.contacts.contacts.tram_numbers"></div>
            </div>
        </div>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab15d2a3eaf9d165d171e3146552077325a581e3a0f3f59ee016004886796c47c&amp;source=constructor" width="100%" height="928" frameborder="0"></iframe>
    </section>
</template>

<style scoped>
    iframe {
        margin-top: 8px;
    }

    .address {
        font-size: 22px;
        font-weight: 500;
    }

    .bus-station {
        font-weight: 600;
        margin-top: 16px;
    }

    .numbers > div:first-child {
        flex-basis: 86px;
    }

    .numbers > div:not(:first-child) {
        color: #FF9900;
    }

    @media screen and (max-width: 1024px) {
        .numbers > div:first-child {
            flex-basis: 32vw;
        }

        .numbers > div:not(:first-child) {
            flex-basis: 68vw;
        }
    }
</style>

<script>
    export default {
    }
</script>