<template>
    <section class="arrow-block black">
        <div class="welcome-block content-block flex">
            <div class="left" v-html="content.content" v-if="content.published"></div>
            <div class="right">
                <div class="round-image"></div>
            </div>
        </div>
    </section>
</template>

<style scoped>
    .left {
        padding-bottom: 190px;
    }

    .round-image {
        border-radius: 50%;
        width: 586px;
        height: 586px;
        background: url('../../../../../images/lawyer_round.png') no-repeat;
        background-size: contain;
        overflow: hidden;
        margin-left: 43px;
        margin-top: 40px;
        box-shadow: -120px 146px 1px 0 rgba(255, 153, 0, 0.7);
    }

    @media screen and (max-width: 1024px){
        .left {
            width: 100%;
            padding-bottom: 0;
        }

        section {
            text-align: center;
        }

        .right {
            display: none;
        }
    }
</style>

<script>
    export default {
        data() {
            return {}
        },
        computed: {
            content: {
                get() {
                    const content = this.$store.getters.articleByName('index-welcome-block');

                    if (!content) {
                        return '';
                    }

                    return content
                }
            }
        }
    }
</script>