<template>
    <section class="reverse pricing" id="prices">
        <div class="content-block">
            <h2>Цены</h2>
            <div class="grid pricing-table">
                <div class="grid-row">
                    <div class="col-8 item">Консультации</div>
                    <div class="col-4 item">от 2000 рублей</div>
                </div>
                <div class="grid-row">
                    <div class="col-8 item">Представление интересов <small>(в ФССП, государственных, коммерческих и пр. организациях)</small></div>
                    <div class="col-4 item">от 3000 рублей/час</div>
                </div>
                <div class="grid-row">
                    <div class="col-8 item">Составление претензий, жалоб, заявлений <small>(не процессуального характера)</small></div>
                    <div class="col-4 item">от 3000 рублей/час</div>
                </div>
                <div class="grid-row">
                    <div class="col-8 item">Разработка  договоров <small>(аудит, правка)</small></div>
                    <div class="col-4 item">от 3000 рублей/лист А4</div>
                </div>
                <div class="grid-row">
                    <div class="col-8 item">Составление апелляционных, кассационных, надзорных жалоб</div>
                    <div class="col-4 item">от 10 000 рублей</div>
                </div>
                <div class="grid-row">
                    <div class="col-8 item">Абонентское обслуживание</div>
                    <div class="col-4 item">от 10 000 рублей/месяц</div>
                </div>
                <div class="grid-row">
                    <div class="col-8 item">Копирование (сканирование)</div>
                    <div class="col-4 item">30 рублей/лист</div>
                </div>
                <div class="grid-row">
                    <div class="col-8 item">Консультации по телефону</div>
                    <div class="col-4 item orange-block weight-black">Бесплатно</div>
                </div>
            </div>
            <h3>Представительство в суде</h3>
            <div class="grid">
                <div class="grid-row">
                    <div class="col-6 pricing-image">
                        <img :src="pricingImage">
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>
                                <div class="title">от <span class="weight-black orange">15 000</span> рублей аванс за подготовку дела</div>
                                <div class="desc">
                                    (ознакомление с делом в суде, подготовка иска (возражений) и доказательств, ходатайств, заявлений, письменный опрос свидетелей, адвокатские запросы);
                                </div>
                            </li>
                            <li>
                                <div class="title">от <span class="weight-black orange">5 000</span> до <span class="weight-black orange">10 000</span> рублей аванс за заседание</div>
                                <div class="desc">
                                    (в зависимости от сложности дела, загруженности адвоката, удаленности суда и пр.);
                                </div>
                            </li>
                            <li>
                                <div class="title">от <span class="weight-black orange">1%</span> до <span class="weight-black orange">15%</span> от полученной имущественной выгоды</div>
                                <div class="desc">
                                    (гонорар успеха оплачивается только за качественное ведение дела, приведшее к получению клиентом имущественной выгоды, а по неимущественным искам - твердый размер согласовывается заранее) (доплачивается с зачетом авансированных сумм);
                                </div>
                            </li>
                            <li>
                                <div class="desc">
                                    Оплата может производиться 100% авансом со скидкой 10% или в рассрочку по этапам обслуживания с авансом до начала очередного этапа работы.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid-row discounts">
                    <div class="col-3 discount">
                        <div class="title">-10%</div>
                        <div class="desc">за заказ услуги через сайт или за 100% авансирование оплаты за все дело;</div>
                    </div>
                    <div class="col-3 discount">
                        <div class="title">-20%</div>
                        <div class="desc">на услуги включенные в состав абонентского обслуживания и 10% на дополнительные (помимо базовых услуг, входящих в абонемент);</div>
                    </div>
                    <div class="col-3 discount">
                        <div class="title">-10%</div>
                        <div class="desc">за каждый последующий заказ (не более 3-х);</div>
                    </div>
                    <div class="col-3 discount">
                        <div class="title">-10%</div>
                        <div class="desc">клиенту, пришедшему по рекомендации моего клиента и <span class="orange weight-black">10%</span> комиссионных лицу, направившего клиента адвокату.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style scoped>
    section {
        background: linear-gradient(178.2deg, #FF9900 -48.46%, #2E2E2E 27.97%);
    }

    .content-block {
        padding-bottom: 86px;
    }

    .content-block ul li:before {
        top: 15px;
    }

    @media screen and (max-width: 1024px){
        .pricing-image {
            display: none;
        }

        .pricing-image + .col-6 {
            flex-basis: 100vw;
        }

        .discounts {
            flex-direction: column;
        }

        .grid .grid-row .discount {
            flex-basis: auto;
            margin: 1vw 0;
            padding: 5vw;
            height: auto;
        }

        .discount .title {
            font-size: 10vw;
        }

        .discount .desc {
            font-size: 5vw;
            line-height: 1;
        }
    }
</style>

<script>
    export default {
        data() {
            return {
                pricingImage: ''
            }
        },
        mounted() {
            this.pricingImage = this.imageUrl = require('../../../../../images/pricing_image.png')
        }
    }
</script>