<template>
    <section class="lawyer arrow-block">
        <div class="top-padding-xxxl content-block">
            <div v-html="content.content" v-if="content.published"></div>
            <button class="top-margin-xxxl btn orange" @click="showModal = true">Получить консультацию</button>
        </div>
        <callback-form-modal v-model="showModal"></callback-form-modal>
    </section>
</template>

<style scoped>
    .lawyer {
        background: url('../../../../../images/lawyer.jpg') no-repeat;
        background-size: cover;
        height: 947px;
    }

    @media screen and (max-width: 1024px) {
        .lawyer {
            text-align: center;
            height: auto;
            background-position: center center;
        }
    }
</style>

<script>
    import CallbackFormModal from '../../common/CallbackFormModal.vue';

    export default {
        data() {
            return {
                showModal: false,
            }
        },
        components: {CallbackFormModal},
        computed: {
            content: {
                get() {
                    const content = this.$store.getters.articleByName('index-lawyer-block');

                    if (!content) {
                        return '';
                    }

                    return content
                }
            }

        }
    }
</script>