<template>
    <section class="content-block">
        <h2>Моя специализация</h2>
        <div class="grid">
            <div class="grid-row align-items-center">
                <div class="col-4">
                    <div class="roulette">
                        <div @click="stepUp" class="arrow-up"></div>
                        <div class="items">
                            <div class="item" v-for="(item, key) in parts" :key="key"
                                 @click="makeActive(item)"
                                 :style="{ top: (item.position * 70) + 'px'}">
                                <h4 v-text="item.heading" :class="{'orange weight-black': item.active}"></h4>
                            </div>
                        </div>
                        <div @click="stepDown" class="arrow-down"></div>
                    </div>
                </div>
                <div class="col-8 text">
                    <transition name="fade">
                        <div class="content" v-html="activePart.content"></div>
                    </transition>
                </div>
            </div>
        </div>
    </section>
</template>

<style scoped>
    .content {
        min-height: 560px;
        overflow: hidden;
        padding-left: 32px;
    }

    .content li {
        margin-bottom: 16px;
    }

    .grid-row > div {
        min-height: 250px;
    }

    .items {
        position: relative;
        text-align: center;
        height: 300px;
    }

    .roulette .arrow-up,
    .roulette .arrow-down {
        margin: 0 auto;
    }

    .item {
        position: absolute;
        cursor: pointer;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        left: 0;
        right: 0;
    }

    .item h4 {
        transition: color .5s ease-in
    }

    @media screen and (max-width: 1024px) {
        .grid-row {
            flex-direction: column;
        }

        .roulette {
            height: 45vw;
        }

        .roulette .items {
            height: 40vw;
            width: 100vw;
        }

        .arrow-down, .arrow-up {
            width: 7vw;
            height: 3vw;
            display: block;
            z-index: 999;
            cursor: pointer;
            user-select: none;
            background-size: cover;
        }

        .col-8.text {
            margin-top: 10vw;
            text-align: center;
            margin-left: 0;
            flex-grow: 10;
            flex-basis: auto;
        }

        .content {
            padding-left: 0;
        }
    }
</style>

<script>
    export default {
        methods: {
            makeActive(item) {
                if (item.position >= 1) {
                    for (let i = 0; i < item.position; i++) {
                        this.stepDown();
                    }
                } else {
                    this.stepUp();
                }
            },
            stepUp() {
                this.parts.forEach(part => {
                    if (part.position < this.parts.length - 1) {
                        part.position = part.position + 1
                    } else {
                        part.position = 0
                    }
                });
                this.setActive();
            },
            stepDown() {
                this.parts.forEach(part => {
                    if (part.position) {
                        part.position = part.position - 1
                    } else {
                        part.position = this.parts.length - 1;
                    }
                });
                this.setActive();
            },
            setActive() {
                this.parts.forEach(item => {
                    item.active = false;
                });
                this.parts.find(item => item.position === 1).active = true;
            }
        },
        computed: {
            activePart: function () {
                return this.parts.find(part => part.active)
            }
        }
        ,
        data()
        {
            return {
                parts: [
                    {
                        heading: 'Семейные споры',
                        content: '<p class="weight-bold left-margin">1. Споры, связанные с прекращением брака:</p><p class="left-margin">- расторжение брака в суде при отсутствии согласия одного из супругов на расторжение брака;</p><p class="left-margin">- признание брака недействительным.</p><p class="weight-bold left-margin">2. Имущественные споры:</p><p class="left-margin">- признание имущества каждого из супругов их совместной собственностью;</p><p class="left-margin">- раздел общего имущества супругов;</p><p class="left-margin">- определение долей при разделе общего имущества супругов;</p><p class="left-margin">- изменение и расторжение брачного договора;</p><p class="left-margin">- признание брачного договора недействительным;</p><p class="left-margin">- обращение взыскания на имущество супругов.</p><p class="weight-bold left-margin">3. Споры о детях:</p><p class="left-margin">3.1. Споры между родителями и близкими родственниками о воспитании детей:</p><p class="left-margin">- о месте жительства ребенка при раздельном проживании родителей;</p><p class="left-margin">- об осуществлении родительских прав родителем, проживающим отдельно от ребенка;</p><p class="left-margin">- об устранении препятствий к общению с ребенком его близких родственников.</p>',
                        active: false,
                        position: 0
                    },
                    {
                        heading: 'Жилищные споры',
                        content: '<p class="left-margin">1. Споры о признании договоров купли-продажи, дарения, мены жилых помещений недействительными;</p><p class="left-margin">2. Споры о правах (собственности, о не приобретении прав, о прекращении прав членов семьи, о праве на приватизацию, правах в порядке наследования и пр);</p><p class="left-margin">3. Споры о предоставлении жилых помещений по договору социального найма;</p><p class="left-margin">4. Споры о признании недействительным обмена жилыми помещениями, предоставленными по договорам социального найма;</p><p class="left-margin">5. Споры об изменении договора социального найма жилого помещения;</p><p class="left-margin">6. Споры о вселении в жилое помещение</p><p class="left-margin">7. Споры о выселении из жилого помещения;</p><p class="left-margin">8. Споры о разделе жилого помещения;</p><p class="left-margin">9. Споры о порядке пользования жилым помещением;</p><p class="left-margin">10. Споры с управляющими компаниями (неисполнение обязанностей, причинение ущерба, невыдача документации, раздел лицевого счета, коммунальные платежи и пр.);</p><p class="left-margin">11. Споры с другими жильцами (при затоплении, нарушении порядка пользования общими помещениями, правил санитарии, общественного порядка, личной неприкосновенности и пр.);</p>',
                        active: true,
                        position: 1
                    },
                    {
                        heading: 'Наследственные споры',
                        content: '<p class="left-margin">1. Споры о правах на наследственное имущество.</p><p class="left-margin">2. Споры о разделе наследственного имущества.</p><p class="left-margin">3. Споры о признании наследниками или о признании недостойными наследниками.</p><p class="left-margin">4. Споры о выделе обязательной доли.</p><p class="left-margin">5. Споры о лишении наследственных прав.</p><p class="left-margin">6. Споры о продлении сроков принятия наследства.</p><p class="left-margin">7. Споры о включении в состав наследства имущества в виде акций, долей в предприятиях, земельных долей и пр,</p><p class="left-margin">8. Споры о выплате действительной стоимости доли наследодателя в уставном капитале (о выдаче соответствующей части имущества в натуре и т.п.).</p><p class="left-margin">9. Споры по требованиям, основанным на долгах наследодателя (например, дела по искам о взыскании задолженности наследодателя по кредитному договору, по оплате жилого помещения и коммунальных услуг, по платежам в возмещение вреда, взысканным по решению суда с наследодателя и др.).</p><p class="left-margin">10. Споры о недействительности завещаний.</p><p class="left-margin">11. Споры между наследниками по разным завещаниям.</p>',
                        active: false,
                        position: 2
                    },
                    {
                        heading: 'Арбитражные споры',
                        content: '<p class="left-margin">1. Договорные споры.</p><p class="left-margin">2. Взыскание задолженности, убытков и возмещение вреда.</p><p class="left-margin">3. Споры из внедоговорных обязательств.</p><p class="left-margin">4. Признание сделок недействительными.</p><p class="left-margin">5. Принудительное исполнение обязательств в натуре.</p><p class="left-margin">6. Защита деловой репутации.</p><p class="left-margin">7. Признание и нарушение прав собственности.</p><p class="left-margin">8. Банкротстве физических лиц.</p><p class="left-margin">9. Антимонопольные споры.</p><p class="left-margin">10. Споры в сфере интеллектуальной собственности.</p><p class="left-margin">11. Об обжаловании действий (бездействий) должностных лиц.</p><p class="left-margin">12. Об оспаривании ненормативных актов.</p><p class="left-margin">13. Об оспаривании решений административных органов и органов контроля.</p><p class="left-margin">14. Об установлении юридических фактов.</p>',
                        active: false,
                        position: 3
                    }
                ]
            }
        }
    }
</script>