<template>
    <section class="grid content-block">
        <div class="grid-row">
            <h2>Отзывы</h2>
        </div>
        <div class="grid-row">
            <div class="col-6 active">
                <div class="active-image" v-bind:style="{backgroundImage: `url('/images/reviewers/${activeReview.image_url}`}"></div>
                <h3 v-text="activeReview.name"></h3>
                <p v-text="activeReview.text"></p>
            </div>
            <div class="col-6">
                <div class="flex wrap space-between reviewers">
                    <div @click="activeReview = review.id" v-for="review in reviews.slice(0, 4)" :class="{'review': true, 'active-review': review.active }">
                        <div class="image" v-bind:style="{backgroundImage: `url('/images/reviewers/${review.image_url}'`}"></div>
                        <h4 v-text="review.name"></h4>
                        <p v-text="review.text" class="text"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style scoped>
    section {
        padding-bottom: 22px;
    }

    .review.active-review {
        border: solid 1px #EAEAEA;
        background: #FFF;
        box-shadow: none;
    }

    .active {
        background: #FFFFFF;
        box-shadow: 1px 4px 25px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 40px 25px;
    }

    .active .active-image {
        width: 100%;
        height: 510px;
        background-size: 105%;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .review {
        border: solid 1px transparent;
        background: #EAEAEA;
        border-radius: 20px;
        flex-basis: 302px;
        padding: 25px 12px;
        box-sizing: border-box;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .review:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    .review .image {
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 105%;
        height: 240px;
    }

    .review .text {
        max-height: 152px;
        overflow: hidden;
    }

    .review h4 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 600;
    }

    @media screen and (max-width: 1024px){
        .active {
            display: none;
        }

        .grid .grid-row .col-6 {
            margin-left: 0;
        }

        .reviewers {
            flex-basis: 100vw;
            flex-direction: column;
        }

        .reviewers .review {
            flex-basis: 100vw;
        }

        .reviewers .review .image {
            height: 75vw;
        }

        .review h4 {
            font-size: 7vw;
        }

        .review .text {
            height: auto;
            max-height: none;
        }
    }
</style>

<script>
    export default {
        data() {
            return {
                reviews: [],
                activeRev: {},
            }
        },
        methods: {
            getReviews() {
                this.$store.state.reviews.reviews.forEach((review, key) => {
                    review.active = !key;
                    this.reviews.push(review);
                })
            }
        },
        computed: {
            activeReview: {
                get() {
                    if (!this.reviews) {
                        return []
                    }

                    this.activeRev = this.reviews.find(review => review.active);

                    return this.activeRev
                },
                set(id) {
                    this.reviews.forEach(review => {
                        review.active = review.id === id;
                    });

                    this.activeRev = this.reviews.find(review => review.active)
                }
            }
        },
        created() {
            this.getReviews();
        }
    }

</script>