<template xmlns="http://www.w3.org/1999/html">
    <div>
        <arbitration-disputes-block></arbitration-disputes-block>
        <info-block articleName="arbitration-disputes-1" className="arbitration-disputes-1"></info-block>
        <services-block article="arbitration-services-article" :links="servicesLinks"></services-block>
        <info-block articleName="arbitration-disputes-1-1" className="arbitration-disputes-1"></info-block>
        <info-block articleName="arbitration-disputes-2" className="background-gray"></info-block>
        <info-block articleName="arbitration-disputes-3" className="reverse"></info-block>
        <call-block :content="$store.getters.articleContentByName('arbitration-call-block-text')"></call-block>
        <info-block articleName="arbitration-disputes-4"></info-block>
        <info-block articleName="arbitration-disputes-4-1"></info-block>
        <info-block articleName="arbitration-disputes-5" className="background-gray"></info-block>
        <info-block articleName="arbitration-disputes-6" className="reverse"></info-block>
    </div>
</template>

<script>
    import ArbitrationDisputesBlock from './blocks/ArbitrationDisputesBlock.vue';
    import InfoBlock from '../common/InfoBlock.vue';
    import ServicesBlock from '../common/ServicesBlock.vue';
    import CallBlock from '../common/CallBlock.vue';

    export default {
        components: {
            ArbitrationDisputesBlock, InfoBlock, ServicesBlock, CallBlock
        },
        data() {
            return {
                servicesLinks: [
                    {
                        text: 'Бесплатные консультации по телефону',
                        href: '#call'
                    },
                    {
                        text: 'Разработка договоров, соглашений об осуществлении прав участников ООО, о намерениях, мировых соглашений и пр',
                        href: '#arbitration-disputes-4-1'
                    },
                    {
                        text: 'Урегулирование спора до суда',
                        href: '#arbitration-disputes-4'
                    },
                    {
                        text: 'Подготовка иска (возражений на иск) и доказательств',
                        href: '#arbitration-disputes-5'
                    },
                    {
                        text: 'Представительство в суде',
                        href: '#arbitration-disputes-6'
                    },
                    {
                        text: 'Помощь на стадии исполнения судебного решения.',
                        href: '#arbitration-disputes-7'
                    },
                ]
            }
        }
    }
</script>