<template>
    <div>
        <family-disputes-block></family-disputes-block>
        <services-block :links="servicesLinks" article="family-disputes-text-block"></services-block>
        <family-quotation-block></family-quotation-block>
        <call-block :content="$store.getters.articleContentByName('call-block-text')"></call-block>
        <info-block articleName="family-contract-development" className="top-margin-xxl"></info-block>
        <info-block articleName="pre-trial-dispute-resolution"></info-block>
        <info-block className="background-gray" articleName="extrajudicial-conflict-resolution"></info-block>
        <info-block articleName="preparation-of-a-lawsuit"></info-block>
        <info-block className="reverse top-padding-big" articleName="representation-in-court"></info-block>
        <info-block articleName="assistance-at-the-enforcement-stage" className="assistance-at-the-enforcement-stage"></info-block>
    </div>
</template>

<script>
    import FamilyDisputesBlock from './blocks/FamilyDisputesBlock.vue';
    import ServicesBlock from '../common/ServicesBlock.vue';
    import FamilyQuotationBlock from './blocks/FamilyQuotationBlock.vue';
    import InfoBlock from '../common/InfoBlock.vue';
    import CallBlock from '../common/CallBlock.vue';

    export default {
        components: {
            FamilyDisputesBlock, ServicesBlock, FamilyQuotationBlock, InfoBlock, CallBlock
        },
        data() {
            return {
                servicesLinks: [
                    {
                        text: 'Бесплатные консультации по телефону ',
                        href: '#call'
                    },
                    {
                        text: 'Разработка брачных договоров, солашений о детях об алиментах, о разделе имущества',
                        href: '#family-contract-development'
                    },
                    {
                        text: 'Урегулирование спора до суда',
                        href: '#pre-trial-dispute-resolution'
                    },
                    {
                        text: 'Подготовка иска (возражений на иск) и доказательств',
                        href: '#preparation-of-a-lawsuit'
                    },
                    {
                        text: 'Представительство в суде',
                        href: '#representation-in-court'
                    },
                    {
                        text: 'Помощь на стадии исполнения судебного решения.',
                        href: '#assistance-at-the-enforcement-stage'
                    },
                ]
            }
        }
    }

</script>