<template>
    <div ref="form" class="form-container">
        <loading :active.sync="isLoading" :container="$refs.form"></loading>
        <form @submit="sendCallback" class="flex get-consultation">
            <h2>Заполните форму ниже и мы вам перезвоним</h2>
            <input type="text" @click="clearError('name')" :class="{error: this.errors.indexOf('name') !== -1}" name="name" v-model="messageData.name" placeholder="имя*">
            <input type="text" @click="clearError('email')" name="email" :class="{error: this.errors.indexOf('email') !== -1}" v-model="messageData.email" placeholder="email*">
            <input type="text" @click="clearError('phone')" name="phone" :class="{error: this.errors.indexOf('phone') !== -1}" v-model="messageData.phone" placeholder="телефон*">
            <textarea name="phone" @click="clearError('text')" v-model="messageData.text" :class="{error: this.errors.indexOf('text') !== -1}" placeholder="Что вы хотели спросить?*"></textarea>
            <input type="checkbox" id="agreeWithTerms" v-model="messageData.agreeWithTerms">
            <label for="agreeWithTerms" class="weight-bold">Я согласен на обработку моих персональных данных*</label>
            <my-captcha placeholder="Введите цифры с картинки" :callSuccess="captchaOk"  color="orange" resolve="text"></my-captcha>
            <button type="submit" class="btn orange" :disabled="!captchaPassed || !messageData.agreeWithTerms">Получить консультацию</button>
        </form>
    </div>
</template>

<script>
    import Modal from './Modal.vue';
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import myCaptcha from '../modules/vue-captcha.vue';

    export default {
        components: {Modal, Loading, myCaptcha},
        props: {
            name: String,
            email: String
        },
        data() {
            return {
                statusText: '',
                showModal: false,
                isLoading: false,
                messageData: {
                    name: '',
                    email: '',
                    phone: '',
                    text: '',
                    agreeWithTerms: false
                },
                captchaPassed: false,
                termsSubmitted: false,
                errors: [],
                errorText: 'Обязательно для заполнения'
            }
        },
        mounted() {
            if (this.name) {
                this.messageData.name  = this.name;
            }

            if (this.email) {
                this.messageData.email = this.email
            }
        },
        methods: {
            captchaOk() {
                this.captchaPassed = true
            },
            clearError(name) {
                this.errors = this.errors.filter(function(value){
                    return value !== name;
                });
            },
            sendCallback(e) {
                e.preventDefault();

                this.errors = [];

                Object.keys(this.messageData).forEach((key) => {
                    if (!this.messageData[key]) {
                        this.errors.push(key);
                    }
                });

                if (this.errors.length) {
                    return;
                }

                const date = new Date();
                const dateString = `${date.getDate()}-${date.getMonth()}-${date.getFullYear()} в ${date.getHours()}:${date.getMinutes()}`;

                const data = {
                    subject: 'Заказ обратного звонка',
                    message: `Сообщение: "${this.messageData.text}". Имя ${this.messageData.name}; Телефон: ${this.messageData.phone}; email: ${this.messageData.email}. Отправлено ${dateString}`
                };

                this.isLoading = true;

                fetch('/api/mail', {
                    method: 'POST',
                    body: JSON.stringify(data)
                }).then(response => response.json()).then((data) => {
                    if (data.message === 'ok') {
                        this.$parent.$emit('close');

                        this.$parent.$parent.statusText = 'Мы перезвоним вам в ближайшее время';

                        setTimeout(() => {
                            this.$parent.$parent.showResultModal = true;
                        }, 500);
                    } else {
                        this.$parent.$parent.statusText = 'Извините, что то пошло не так. Попробуйте повторить запрос позже';

                        setTimeout(() => {
                            this.$parent.$parent.showResultModal = true;
                        }, 500);
                    }

                    this.isLoading = false;
                });
            }
        }
    }
</script>

<style scoped>
    .form-container .vld-overlay.is-active.is-full-page {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .form-container h1,
    .form-container h2,
    .form-container h3,
    .form-container h4,
    .form-container p,
    .form-container span,
    .form-container a,
    .form-container div {
        color: #000000;
    }

    .vld-overlay .vld-icon {
        width: 65px;
        margin: 33% auto 0;
    }

    .get-consultation {
        justify-content: space-between;
        flex-direction: column;
        width: 500px;
    }

    .get-consultation > textarea.error,
    .get-consultation > input.error {
        border-color: red;
    }

    .get-consultation > textarea,
    .get-consultation > input {
        background: none;
        box-shadow: none;
        border: solid 1px #CCCCCC;
        border-radius: 5px;
        padding: 0 16px;
        margin-bottom: 16px;
        flex-basis: 56px;
        resize: none;
    }

    .get-consultation > textarea {
        padding: 16px;
    }

    .get-consultation > * {
        box-sizing: border-box;
        font-size: 16px;
    }

    .get-consultation > a {
        white-space: nowrap;
        flex-basis: 56px;
        font-size: 22px;
        text-align: center;
    }
    
    @media screen and (max-width: 1024px) {
        form {
            overflow: auto;
            max-height: 80vh;
        }

        .get-consultation > a {
            font-size: 5vw;
        }

        .get-consultation > textarea,
        .get-consultation > input {
            background: none;
            box-shadow: none;
            padding: 0 5vw;
            margin-bottom: 5vw;
            flex-basis: 15vw;
        }

        .get-consultation textarea {
            min-height: 15vw;
        }

        .get-consultation {
            width: 100%
        }

        .vld-overlay .vld-icon {
            width: 20vw;
            margin: 33% auto 0;
        }

        .get-consultation > * {
            box-sizing: border-box;
            font-size: 5vw;
        }
    }
</style>