<template>
    <section id="call">
        <div class="grid content-block">
            <div class="grid-row">
                <div class="col-4 relative">
                    <div class="phone"></div>
                </div>
                <div class="col-8 call-text" v-html="content" v-if="content"></div>
            </div>
        </div>
    </section>
</template>

<style scoped>
    section {
        margin-top: 56px;
    }

    section .content-block {
        min-height: 480px;
    }

    .phone {
        width: 464px;
        height: 464px;
        left: 0;
        top: 0;
        background: url('../../../../images/mobile-phone.png') no-repeat;
        background-size: cover;
        position: absolute;
        z-index: -1;
    }

    .call-text {
        padding-top: 86px;
    }

    @media screen and (max-width: 1024px){
        .grid.content-block .grid-row .col-4 {
            display: none;
        }

        .call-text {
            padding-top: 86px;
            margin-left: 0;
            text-align: center;
        }
    }
</style>

<script>
    export default {
        props: {
            content: String
        }
    }
</script>