<template>
    <div>
        <modal v-if="showModal" @close="showModal = false" width="500px">
            <div slot="body">
                <callback-form :name="name" :email="email"></callback-form>
            </div>
        </modal>
        <modal width="500px" v-if="showResultModal" @close="showResultModal = false">
            <div slot="body"><div class="text-big weight-bold result" v-text="statusText"></div></div>
        </modal>
    </div>
</template>

<script>
    import Modal from './Modal.vue';
    import CallbackForm from './CallbackForm.vue';

    export default {
        components: {
            Modal, CallbackForm
        },
        computed: {
            showModal: {
                get() {
                    return this.value
                },
                set(value) {
                    this.$emit('input', value)
                }
            }
        },
        data() {
            return {
                showResultModal: false,
                statusText: '',
                showModalHolder: null
            }
        },
        props: {
            value: Boolean,
            name: String,
            email: String,
        }
    }
</script>

<style scoped>
    .result {
        color: #000000;
    }
</style>