<template>
    <section :class="className" v-if="$store.getters.articleContentByName(articleName)">
        <div class="content-block">
            <div class="bottom-margin-xxl" v-if="articleName" v-html="$store.getters.articleContentByName(articleName)"></div>
        </div>
    </section>
</template>

<style>

</style>

<script>
    export default {
        data() {
            return {}
        },
        props: {
            content: String,
            articleName: String,
            className: String
        }
    }
</script>