<template>
    <section class="grid">
        <h2>Статьи на тему "{{ category.heading.toLowerCase() }}"</h2>
        <div class="prev" @click="stepBack" v-if="knowledges.length > 4"></div>
        <div class="grid-row wrapper">
            <a :href="`/#/knowledge/${knowledge.id}`" class="knowledge block col-3" v-for="knowledge in knowledges.slice(start, start + 4)">
                <div class="image" :style="{backgroundImage: `url('/images/knowledge/${knowledge.image_url}')`}"></div>
                <div class="bold top-margin" v-text="knowledge.heading"></div>
                <div class="top-margin" v-text="`${knowledge.content.stripTags().slice(0, 121)} ...`"></div>
            </a>
        </div>
        <div class="next" @click="stepNext" v-if="knowledges.length > 4"></div>
    </section>
</template>

<script>
    export default {
        props: {
            category: Object
        },
        methods: {
            stepBack() {
                if (this.start - 4 >= 0) {
                    this.start = this.start - 4;

                    return true;
                }

                this.start = 0;
            },
            stepNext() {
                if (this.start + 8 <= this.knowledges.length) {
                    this.start = this.start + 4;

                    return true;
                }

                this.start = this.knowledges.length - 4;
            }
        },
        computed: {
            knowledges() {
                /**
                 * @property this.category.knowledge
                 */
                return this.category.knowledge.filter((item) => item.published)
            }
        },
        data() {
            return {
                start: 0
            }
        }
    }
</script>

<style scoped>
    .prev,
    .next {
        position: absolute;
        top: calc(50% - 20px);
        width: 20px;
        height: 20px;
        border-top: solid 2px #CCC;
        border-left: solid 2px #CCC;
        cursor: pointer;
        user-select: none;
    }

    .prev {
        left: -35px;
        transform: rotate(-45deg);
    }

    .next {
        right: -35px;
        transform: rotate(135deg);
    }

    section {
        padding-bottom: 10px;
        position: relative;
    }

    .image {
        height: 279px;
        background-size: contain;
        background: no-repeat center center;
    }

    .knowledge {
        padding: 20px 10px;
        background: #F5F5F5;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        max-width: 302px;
        max-height: 503px;
    }

    @media screen and (max-width: 1024px) {
        .grid-row.wrapper {
            flex-direction: column;
        }

        .grid .grid-row > *:not(:first-child) {
            margin-left: 0;
            margin-top: 2vw;
        }

        .image {
            background: no-repeat center center;
            background-size: cover;
            height: 75vw;
        }

        .knowledge {
            max-width: none;
            max-height: none;
        }
    }
</style>