<template>
    <section>
        <div class="content-block">
            <h2>Мои услуги:</h2>
            <div class="grid">
                <div class="grid-row">
                    <div class="col-6">
                        <ul>
                            <li v-for="link in links"><a :href="link.href" v-text="link.text"></a></li>
                        </ul>
                    </div>
                    <div class="col-6 law-for-all"></div>
                </div>
            </div>
            <div class="disputes-text-block bottom-margin-xxl" v-html="getArticleContent(article)"></div>
        </div>
    </section>
</template>

<style scoped>
    .law-for-all {
        background: url('../../../../images/lawforall.png') no-repeat;
        background-size: cover;
        height: 497px;
    }

    ul > li {
        margin-bottom: 16px;
    }

    ul > li:before {
        top: 8px;
    }

    ul > li > a {
        font-size: 22px;
        color: #001688;
        text-decoration: underline;
    }

    @media screen and (max-width: 1024px){
        .law-for-all {
            display: none;
        }

        ul > li {
            margin-bottom: 5vw;
        }

        ul > li:before {
            top: 2.5vw;
        }

        ul > li > a {
            font-size: 5vw;
            color: #001688;
            text-decoration: underline;
        }
    }
</style>

<script>
    export default {
        methods: {
            getArticleContent(name) {
                const article = this.$store.getters.articleByName(name);

                if (!article) {
                    return '';
                }

                return article.content;
            }
        },
        props: {
            article: String,
            links: Array
        }
    }
</script>
