<template>
    <section>
        <div class="family-disputes">
            <div class="mask"></div>
            <div class="content-block" v-html="$store.getters.articleByName('family-disputes-block').content || ''"></div>
        </div>
        <div class="reverse family-disputes-discount">
            <div class="content-block">
                <div class="grid">
                    <div class="grid-row align-items-center">
                        <div class="col-2 text-big">При заказе на сайте скидка </div>
                        <div class="col-2 orange weight-black discount">10%</div>
                        <div class="col-8 flex get-consultation">
                            <input type="text" name="name" placeholder="имя" @click="clearError('name')" :class="{error: this.errors.indexOf('name') !== -1}" v-model="messageData.name" />
                            <input type="text" name="email" placeholder="email" @click="clearError('email')" :class="{error: this.errors.indexOf('email') !== -1}" v-model="messageData.email" />
                            <a href="javascript:void(0)" class="btn orange" @click="openForm = true">Получить консультацию</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <callback-form-modal v-model="openForm" :email="messageData.email" :name="messageData.name"></callback-form-modal>
        <modal width="500px" v-if="showResultModal" @close="showResultModal = false">
            <div slot="body"><div class="text-big weight-bold result" v-text="statusText"></div></div>
        </modal>
    </section>
</template>

<style scoped>
    .family-disputes {
        background: url('../../../../../images/family_disputes.png');
        height: 495px;
        box-sizing: border-box;
        padding-top: 100px;
        position: relative;
    }

    .family-disputes-discount {
        height: 160px;
        padding-top: 37px;
        box-sizing: border-box;
    }

    .discount {
        font-size: 70px;
    }

    .get-consultation {
        justify-content: space-between;
    }

    .get-consultation > input {
        background: none;
        box-shadow: none;
        border: solid 1px #FFFFFF;
        border-radius: 5px;
        color: #FFFFFF;
        padding: 0 16px;
    }

    .get-consultation > * {
        flex-basis: 262px;
        box-sizing: border-box;
        font-size: 16px;
    }

    .get-consultation > a {
        white-space: nowrap;
    }

    .get-consultation input {
        transition: box-shadow ease-in-out .3s
    }

    .get-consultation input.error {
        box-shadow: 0 0 18px -1px red
    }

    @media screen and (max-width: 1024px){
        .family-disputes {
            height: 150vw;
            background-size: cover;
            background-position: right;
        }

        .family-disputes-discount {
            height: auto;
            padding: 10vw 0;
            box-sizing: border-box;
        }

        .family-disputes-discount .grid .grid-row {
            flex-direction: column;
        }

        .family-disputes-discount .get-consultation {
            flex-basis: auto;
            margin-top: 3vw;
            display: flex;
            flex-wrap: wrap;
        }

        .family-disputes-discount .get-consultation > * {
            font-size: 4vw;
            margin-top: 3vw;
            flex-basis: 100vw;
            height: 11vw;
            text-align: center;
        }

        .family-disputes-discount .content-block .col-2 {
            flex-basis: auto;
        }
    }
</style>

<script>
    import Modal from '../../common/Modal.vue';
    import CallbackFormModal from '../../common/CallbackFormModal.vue';

    export default {
        data() {
            return {
                messageData: {
                    name: '',
                    email: ''
                },
                openForm: false,
                statusText: '',
                errors: [],
                showResultModal: false
            }
        },
        methods: {
            clearError(name) {
                this.errors = this.errors.filter(function(value){
                    return value !== name;
                });
            },
            sendCallback(e) {
                e.preventDefault();

                this.errors = [];

                Object.keys(this.messageData).forEach((key) => {
                    if (!this.messageData[key]) {
                        this.errors.push(key);
                    }
                });

                if (this.errors.length) {
                    return;
                }

                const date = new Date();
                const dateString = `${date.getDate()}-${date.getMonth()}-${date.getFullYear()} в ${date.getHours()}:${date.getMinutes()}`;

                const data = {
                    subject: 'Заказ обратного звонка',
                    message: `Имя ${this.messageData.name}; Телефон: не указан; email: ${this.messageData.email}. Отправлено ${dateString}`
                };

                this.$root.isLoading = true;

                fetch('/api/mail', {
                    method: 'POST',
                    body: JSON.stringify(data)
                }).then(response => response.json()).then((data) => {
                    if (data.message === 'ok') {
                        this.statusText = 'Мы перезвоним вам в ближайшее время';

                        setTimeout(() => {
                            this.showResultModal = true;
                        }, 500);
                    } else {
                        this.statusText = 'Извините, что то пошло не так. Попробуйте повторить запрос позже';

                        setTimeout(() => {
                            this.showResultModal = true;
                        }, 500);
                    }

                    this.$root.isLoading = false;
                });
            }
        },
        components: {
            Modal, CallbackFormModal
        }
    }
</script>