<template>
    <section class="reverse">
        <div class="content-block">
            <div class="grid">
                <div class="grid-row">
                    <div class="col-4">
                        <div class="image"></div>
                    </div>
                    <div class="col-8 quotation" v-text="$store.getters.articleContentByName('family-disputes-quotation-block')"></div>
                </div>
            </div>
        </div>
    </section>
</template>

<style scoped>
    section {
        box-sizing: border-box;
        padding: 60px 0;
    }

    .image {
        width: 332px;
        height: 332px;
        background: url('../../../../../images/lawyer1.png') no-repeat;
        background-size: cover;
        border-radius: 50%;
    }

    @media screen and (max-width: 1024px) {
        .grid .grid-row .col-4 {
            display: none;
        }

        .quotation {
            font-size: 4vw;
        }
    }
</style>

<script>
    export default {}
</script>