<template>
    <div class="content-block">
        <div class="heading grid">
            <div class="grid-row">
                <div class="col-7">
                    <div class="heading-image"></div>
                </div>
                <div class="col-5">
                    <div class="knowledge-desc reverse">
                        <h2>Знания</h2>
                        <div class="text-big">
                            Здесь вы найдете интересные и полезные статьи, рассортированные по видам моей специализации. Рекомендую подписаться на обновление
                        </div>
                        <a href="javascript:void(0)" @click="openModal" class="btn orange small top-margin"
                           :disabled="subscribeStatus">{{ subscribeText }}</a>
                    </div>
                </div>
            </div>
            <div class="search-container grid-row">
                <div class="col-7">
                    <div class="search-wrapper">
                        <input type="text" name="search" v-model="filterValue">
                        <i class="search"></i>
                    </div>
                </div>
                <div class="col-2">группировка</div>
                <div class="col-1"><a @click="groupBy = 'blog'" :class="{'active': groupBy === 'blog', 'group': true}"
                                      href="javascript:void(0)">блог</a></div>
                <div class="col-2"><a @click="groupBy = 'catalog'"
                                      :class="{'active': groupBy === 'catalog', 'group': true}"
                                      href="javascript:void(0)">каталог</a></div>
            </div>
        </div>
        <knowledge-category v-if="!filterValue && groupBy === 'catalog'"
                            v-for="category in $store.state.categories.categories" :category="category"
                            :key="category.id"></knowledge-category>
        <div class="knowledge grid" v-if="filterValue || groupBy === 'blog'">
            <knowledge v-for="knowledge in filteredKnowledge" :knowledge="knowledge" :key="knowledge.id"></knowledge>
            <div v-if="!filteredKnowledge.length" class="not-found-wrapper">
                <div class="not-found">Ничего не найдено</div>
            </div>
        </div>
        <div>
            <modal v-if="showSubscribeForm" @close="showSubscribeForm = false" width="500px">
                <div slot="body">
                    <form @submit="submitSubscribe" class="flex get-subscribe">
                        <input type="text" @click="clearError('name')"
                               :class="{error: this.errors.indexOf('name') !== -1}" name="name"
                               v-model="messageData.name" placeholder="имя*">
                        <input type="text" @click="clearError('email')" name="email"
                               :class="{error: this.errors.indexOf('email') !== -1}" v-model="messageData.email"
                               placeholder="email*">
                        <button type="submit" class="btn orange">Подписаться</button>
                    </form>
                </div>
            </modal>
            <modal width="500px" v-if="showResultModal" @close="showResultModal = false">
                <div slot="body">
                    <div class="text-big weight-bold result" v-text="statusText"></div>
                </div>
            </modal>
        </div>
    </div>
</template>

<script>
    import KnowledgeCategory from './blocks/categories/KnowledgeCategory.vue';
    import Knowledge from './blocks/categories/Knowledge.vue';
    import Modal from '../common/Modal.vue';

    export default {
        methods: {
            openModal() {
                if (this.subscribeStatus === true) {
                    return
                }

                this.showSubscribeForm = true;
            },
            submitSubscribe(e) {
                e.preventDefault();

                this.errors = [];

                Object.keys(this.messageData).forEach((key) => {
                    if (!this.messageData[key]) {
                        this.errors.push(key);
                    }
                });

                if (this.errors.length) {
                    return;
                }

                this.isLoading = true;

                fetch('/api/subscribe', {
                    method: 'POST',
                    body: JSON.stringify(this.messageData)
                }).then(response => response.json()).then((data) => {
                    if (data.status === 'ok') {
                        this.showSubscribeForm = false;

                        this.statusText = 'Спасибо Вам за подписку';
                        this.subscribeText = 'Вы уже подписаны на блог';
                        this.subscribeStatus = true;

                        setTimeout(() => {
                            this.showResultModal = true;
                        }, 500);
                    } else {
                        this.statusText = 'Извините, что то пошло не так. Попробуйте повторить запрос позже';

                        setTimeout(() => {
                            this.showResultModal = true;
                        }, 500);
                    }

                    this.isLoading = false;
                });
            },
            clearError(name) {
                this.errors = this.errors.filter(function (value) {
                    return value !== name;
                });
            },
        },
        data() {
            return {
                filterValueData: '',
                groupBy: 'catalog',
                showSubscribeForm: false,
                showResultModal: false,
                statusText: '',
                errors: [],
                subscribeStatus: false,
                subscribeText: 'Подписаться на блог',
                messageData: {
                    name: '',
                    email: ''
                }
            }
        },
        computed: {
            filteredKnowledge() {
                let knowledge = [];

                this.$store.state.categories.categories.forEach((category) => {
                    knowledge = knowledge.concat(category.knowledge)
                });

                knowledge.sort(function (a, b) {
                    return new Date(b.updated_at) - new Date(a.updated_at);
                });

                return knowledge.filter((item) => item.content.toLowerCase().indexOf(this.filterValue.toLowerCase()) !== -1
                || item.heading.toLowerCase().indexOf(this.filterValue.toLowerCase()) !== -1);
            },
            filterValue: {
                get() {
                    return this.filterValueData.trim()
                },
                set(value) {
                    this.filterValueData = value;
                }
            }
        },
        components: {
            KnowledgeCategory, Knowledge, Modal
        }
    }
</script>

<style scoped>
    .search-container div,
    .search-container input,
    .search-container a {
        font-size: 24px;
    }

    .search-container input {
        background: #FFFFFF;
        border-radius: 10px;
        border: none;
        padding-left: 40px;
        width: 488px;
    }

    .search-wrapper {
        position: relative;
    }

    .search-wrapper i {
        background: url('../../../../images/magnifying-glass.svg') no-repeat;
        width: 24px;
        height: 24px;
        background-size: cover;
        position: absolute;
        left: 9px;
        top: 4px;
    }

    a.group.active {
        border-bottom: dashed 1px #000000;
    }

    .heading-image {
        background: url('../../../../images/knowledge.png') no-repeat;
        background-size: cover;
        height: 571px;
    }

    .search-container {
        background: #eaeaea;
        padding: 16px;
        border-radius: 16px;
    }

    .knowledge-desc {
        border-radius: 40px;
        padding: 40px 48px 70px 48px;
        margin-top: 50px;
        height: 452px;
        box-sizing: border-box
    }

    .knowledge-desc > div {
        width: 380px;
    }

    .knowledge-desc h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .knowledge-desc a {
        margin-top: 40px;
        display: inline-block;
        float: right
    }

    .not-found-wrapper {
        text-align: center;
    }

    .not-found {
        position: relative;
        font-size: 30px;
        text-align: center;
        display: inline-block;
        margin: 60px auto;
    }

    .not-found:before {
        content: '';
        background: url('../../../../images/not-found.svg') no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        top: 5px;
        left: -38px;
        position: absolute;
        display: block;
    }

    .get-subscribe {
        justify-content: space-between;
        flex-direction: column;
        width: 500px;
    }

    .get-subscribe > input.error {
        border-color: red;
    }

    .get-subscribe > input {
        background: none;
        box-shadow: none;
        border: solid 1px #CCCCCC;
        border-radius: 5px;
        padding: 0 16px;
        margin-bottom: 16px;
        flex-basis: 56px;
    }

    .get-subscribe > * {
        box-sizing: border-box;
        font-size: 16px;
    }

    .get-subscribe > a {
        white-space: nowrap;
        flex-basis: 56px;
        font-size: 22px;
        text-align: center;
    }

    @media screen and (max-width: 1024px) {
        .search-container div,
        .search-container input,
        .search-container a {
            font-size: 7vw;
        }

        .search-container input {
            background: #FFFFFF;
            border-radius: 10px;
            border: none;
            padding-left: 12vw;
            width: 68vw;
        }

        .search-wrapper {
            position: relative;
        }

        .search-wrapper i {
            background: url('../../../../images/magnifying-glass.svg') no-repeat;
            width: 7vw;
            height: 7vw;
            background-size: cover;
            position: absolute;
            left: 3vw;
            top: 1vw;
        }

        .heading-image {
            display: none;
        }

        .search-container {
            background: #eaeaea;
            padding: 5vw;
            border-radius: 16px;
            margin-top: 5vw;
        }

        .search-container > div:not(:first-child) {
            display: none;
        }

        .knowledge-desc {
            padding: 5vw;
            height: auto;
            box-sizing: border-box;
            width: 90vw;
        }

        .knowledge-desc > div {
            width: auto;
        }

        .knowledge-desc h2 {
            margin-top: 0;
            margin-bottom: 5vw;
        }

        .knowledge-desc a {
            margin-top: 10vw;
            display: block;
            text-align: center;
            float: none;
        }

        .not-found-wrapper {
            text-align: center;
        }

        .not-found {
            position: relative;
            font-size: 30px;
            text-align: center;
            display: inline-block;
            margin: 60px auto;
        }

        .not-found:before {
            content: '';
            background: url('../../../../images/not-found.svg') no-repeat;
            background-size: cover;
            width: 30px;
            height: 30px;
            top: 5px;
            left: -38px;
            position: absolute;
            display: block;
        }

        .get-subscribe > a {
            font-size: 5vw;
        }

        .get-subscribe > input {
            background: none;
            box-shadow: none;
            padding: 0 5vw;
            margin-bottom: 5vw;
            flex-basis: 15vw;
        }

        .get-subscribe {
            width: 100%
        }

        .vld-overlay .vld-icon {
            width: 20vw;
            margin: 33% auto 0;
        }

        .get-subscribe > * {
            box-sizing: border-box;
            font-size: 5vw;
        }

        .get-subscribe {
            justify-content: space-between;
            flex-direction: column;
            width: auto;
        }

        .get-subscribe > input.error {
            border-color: red;
        }

        .get-subscribe > input {
            background: none;
            box-shadow: none;
            border: solid 1px #CCCCCC;
            border-radius: 5px;
            padding: 0 5vw;
            margin-bottom: 5vw;
            flex-basis: 15vw;
        }

        .heading .grid-row > div {
            margin-left: 0;
        }
    }
</style>