<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Баганов Андрей Александрович{% endblock %}</title>
        <meta name="yandex-verification" content="2ba7d2e7998552f5" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
            <script src="{{ asset('build/runtime.js') }}"></script>
            {#<script src="{{ asset('build/app.js') }}"></script>#}
            {#<script src="{{ asset('build/vendors~app.js') }}"></script>#}
        {% endblock %}
    </body>
</html>
