<template>
    <div :class="{'item': true, 'opened': opened, 'relative': true}" @mouseover="opened = true" @mouseleave="opened = false">
        <div :style="{backgroundImage: 'url(' + imageUrl + ')', backgroundSize: '132px'}" class="item-wrapper">
            <div class="text-big weight-black item-heading">{{ item.heading }}</div>
            <div v-show="opened" v-text="item.text" class="top-margin-l text"></div>
            <button v-show="opened" class="top-margin-xl btn small orange" @click="openForm = true">Получить консультацию</button>
        </div>
        <callback-form-modal v-model="openForm"></callback-form-modal>
    </div>
</template>

<style scoped>
    div {
        color: #000000;
    }

    .item .text {
        max-height: 248px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
    }

    .item button {
        position: absolute;
        bottom: 16px;
        left: 19%;
    }

    .item {
        flex-basis: 302px;
        height: 393px;
        background: #FFFFFF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .item > div {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .item.opened {
        background: linear-gradient(144.77deg, #4E4E4E 4.19%, #4805B7 77.76%);
    }

    .item.opened,
    .item.opened div {
        color: #FFFFFF;
    }

    @media screen and (max-width: 1024px){
        .item .text {
            max-height: initial;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 5vw;
            text-align: left;
        }

        .item button {
            position: static;
        }

        .item {
            flex-basis: 90vw;
            height: auto;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            text-align: center;
            padding: 5vw;
            min-height: 22vw;
            box-sizing: border-box;
            cursor: pointer;
            background: #FFFFFF;
            margin-bottom: 3vw;
        }

        .item > .item-wrapper {
            background-position: right;
        }

        .item-heading {
            width: 52vw;
            text-align: left;
        }
    }
</style>

<script>
    import CallbackFormModal from '../../../../common/CallbackFormModal.vue';

    export default {
        components: {CallbackFormModal},
        props: {
            item: Object
        },
        data() {
            return {
                imageUrl: '',
                opened: false,
                openForm: false,
            }
        },
        mounted() {
            this.imageUrl = `/images/${this.item.icon}.png`;
        }
    }
</script>